# Node modules
node_modules/

# Build output
dist/
build/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editor specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Jest test coverage
jest/

# Temporary files
*.tmp
*.temp
